<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwM7YbZXbUwnfqqBslNhJPQC35sIQboJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>633794473217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.progresssoft.app</string>
	<key>PROJECT_ID</key>
	<string>progress-soft-app</string>
	<key>STORAGE_BUCKET</key>
	<string>progress-soft-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633794473217:ios:59f3c8c7794d5837e7bf00</string>
</dict>
</plist>